<%- model_class = Colleague -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @colleague.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:remark) %>:</strong></dt>
  <dd><%= @colleague.remark %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              colleagues_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_colleague_path(@colleague), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              colleague_path(@colleague),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
