%ul{id: "left_menu"}
  %il 
    %a{href: "#"}
      Descipline    
    %ul
      %li= link_to "Labor Claim", labor_claims_path
      %li= link_to "Stay", stay_nights_path
      %li= link_to "City", working_locations_path
      %li= link_to "Out of Pocket", expense_details_path
            
  %il    
    %a{href: "#"}
      Configuration      
    %ul       
      %li= link_to "Client", clients_path
      %li= link_to "Project", projects_path
      %li= link_to "City", cities_path
      %li= link_to "Site", sites_path
      %li= link_to "Hotel", hotels_path
      %li= link_to "Expense Type", expense_types_path
      %li= link_to "Payment Type", payment_types_path

%script{:type => "text/javascript",
  :src  => "/assets/ui/left_menu.js"}              